
*{
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* Additional */
.text-roman{
    font-family: 'Times New Roman', Times, serif;
}
.mustard-color{
    color: rgb(250, 192, 49);;
}
.mustard-bg-color{
    background-color: rgb(250, 192, 49);
}

/* NAVIGATION BAR */
nav{
    position: fixed;
    height: 100px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 10px 15px rgba(0,0,0,0.1);
    background-color: white;
    z-index: 10;
}

nav ul{
    display: flex;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    line-height: 100px;
}

nav ul li a{
    font-size: 1.2rem;
    text-decoration: none;
    padding: 30px 30px;
    font-weight: 400;
    color: rgb(0, 0, 0); 
}

nav .logo img{
    width: 10rem;
    height: 5rem;
}

nav .utility-option{
    display: flex;
    align-items: center;
    line-height: 100px;
    justify-content: space-between;
    width: 150px;
}

nav .utility-option img{
    width: 2rem;
    height: 2rem;
}

/* MAIN */

main{
    height: 100%;
    width: 100%;
}

main .section-title{
    text-align: center;
    font-size: 3rem;
}

main .section-title span{
    text-decoration: underline;
}

/* HEADER BANNER */

main .hero-banner {
    padding: 1% 5%;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 50% 50%;
}

main .hero-title {
    padding: 25% 0 20% 9%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

main .hero-title h1{
    position: relative;
    font-size: 4em;
    font-weight: 600;
    text-shadow: 0 0 3px rgb(96, 255, 118);
    width: 40rem;
}

main .hero-title h2{
    position: relative;
    font-size: 2em;
    font-weight: 700;
    text-shadow: 0 0 3px rgb(96, 255, 118);
    width: 40rem;
}

main #banner .hero-title h3{
    position: relative;
    text-align: justify;
    font-weight: 100;
    margin-left: 20px;
    width: 55rem;
}

main #about .hero-title h3{
    position: relative;
    text-align: justify;
    font-weight: 100;
    width: 55rem;
}

main .hero-title button{
    border: 1px solid yellow;
    padding: 2% 5%;
    color: white;
    background-color: rgb(250, 192, 49);
    margin-left: 20px;
}

main #banner .hero-img {
    background-image:url('../../activity/images/main_img.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}

main #about .hero-img {
    background-image:url('../../activity/images/Food-Plate.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}

/* Food Menu */


main .food-sets div:nth-of-type(2){
    display: flex;
    align-items: center;
    justify-content: center;
}

main .food-sets .content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
}

main .food-sets .content div{
    width: 400px;
    height: 500px;
    margin: 15px;
    padding: 15px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    text-align: center;
}

main .food-sets .content div button{
    border: 1px solid rgb(0, 0, 0);
    padding: 2% 15%;
    color: white;
    background-color: rgb(0, 0, 0);
    font-size: 15px;
}

main .food-sets .content img{
    width: 380px;
    height: 300px;
}

/* Footer */
.footer {
    background-color: rgb(238, 238, 238);
    color: #000000;
    width: 100%;
    padding-top: 1.5rem;
}
  
  
main .footer .content {
    display: flex;
    justify-content: space-evenly;
    margin: 1.5rem;
    text-align: center;
}
  
main .footer .content p {
    margin-bottom: 1.3rem;
}
  
main .footer .content a {
    text-decoration: none;
    color: #000000;
}
  
main .footer .content a:hover {
    border-bottom: 1px solid #971717;
}
  
main .footer .content h1 {
    font-size: 30px;
    font-weight: 700;
}
  
main .copy-right {
    text-align: center;
    padding: 2rem;
}
  